.popup-ref {
    z-index: 777;
}
.popup-class-ref {
    width: 8rem;
}
.ngxp__container{
    background-color: #fff;
}
.bootstrap-date-ref {
    margin-left: 5rem;
}

/* LOADING */
#header {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  h1 {
    margin-top: 0;
  }
  
  .loading-container {
    display: flex;
    flex-wrap: wrap;
  }
  
  .loading {
    height: 189px;
    width: 189px;
    position: relative;
    margin: 0 15px 15px 0;
    padding: 15px;
    border: 1px #ccc solid;
    border-radius: 4px;
  }
  
  .loading p {
    margin: 0 0 10px 0;
  }
  
  button {
    border: none;
    border-radius: 4px;
    padding: 6px;
    color: white;
    outline: none;
    font-weight: bold;
    font-size: 1.1em;
    margin: 15px 15px 15px 0;
    font-family: 'Roboto', sans-serif;
    cursor: pointer;
    background-color: #666666;
  }
  
  button:hover {
    background-color: #797979;
  }
  
  button#toggle-loading-button {
    background-color: #dd0031;
  }
  
  button#toggle-loading-button:hover {
    background-color: #ff0032;
  }
  
  button#toggle-colours-button {
    background-color: #006ddd;
  }
  
  button#toggle-colours-button:hover {
    background-color: #0c7aea;
  }
  
  button#toggle-template-button {
    background-color: black;
  }
  
  button#toggle-template-button:hover {
    background-color: #303030;
  }
  
  .custom-class {
    top: 0;
    z-index: 2002;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #000000ba;
    border-radius: 3px;
  }
  
  .custom-class h3 {
    color: white;
  }
.perferect-scroll-bar-ref {
    max-width: 600px; 
    max-height: 300px;
    border: 1px solid;
    padding: 20px 20px;

}






























.files input {
    outline: 2px dashed #92b0b3;
    outline-offset: -10px;
    padding: 120px 0px 85px 35%;
    text-align: center !important;
    margin: 0;
    width: 40%;
}
.files input:focus {     
    outline: 2px dashed #92b0b3;  
    outline-offset: -10px;   
    border:1px solid #92b0b3;
 }
.files{ 
    position:relative
}
.files:after {  
    pointer-events: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 50px;
    right: 0;
    height: 56px;
    content: "";
    background-image: url(https://image.flaticon.com/icons/png/128/109/109612.png);
    display: block;
    margin: 0 auto;
    background-size: 100%;
    background-repeat: no-repeat;
}
.color input{ 
    background-color:#f1f1f1;
}
.files:before {
    position: absolute;
    bottom: 10px;
    left: 0;  pointer-events: none;
    width: 100%;
    right: 0;
    height: 57px;
    content: " or drag it here. ";
    display: block;
    margin: 0 auto;
    color: #2ea591;
    font-weight: 600;
    text-transform: capitalize;
    text-align: center;
}